<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taiyidu.taiyidu.gongsheng.mapper.videoScraperMapper">
    <insert id="insert">
        insert into log_download(aweme_id,
                                 title,
                                 media_type,
                                 origin_url,
                                 download_urls,
                                 parse_status,
                                 error_msg,
                                 create_time)
                                 values(#{awemeId}, #{title}, #{mediaType}, #{originUrl}, #{downloadUrls},
                                 #{parseStatus}, #{errorMsg}, #{createTime})
    </insert>
</mapper>
